@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    /* === Primary Colors === */
  --color-primary-admin: #25388C;
  --color-primary-100: #E7C9A5;

  /* === Green === */
  --color-green: #027A48;
  --color-green-100: #ECFDF3;
  --color-green-400: #4C7B62;
  --color-green-500: #2CC171;
  --color-green-800: #027A48;

  /* === Red === */
  --color-red: #EF3A4B;
  --color-red-400: #F46F70;
  --color-red-500: #E27233;
  --color-red-800: #EF3A4B;

  /* === Blue === */
  --color-blue-100: #0089F1;

  /* === Light === */
  --color-light-100: #D6E0FF;
  --color-light-200: #EED1AC;
  --color-light-300: #F8F8FF;
  --color-light-400: #EDF1F1;
  --color-light-500: #8D8D8D;
  --color-light-600: #F9FAFB;
  --color-light-700: #E2E8F0;
  --color-light-800: #F8FAFC;

  /* === Dark === */
  --color-dark-100: #16191E;
  --color-dark-200: #3A354E;
  --color-dark-300: #232839;
  --color-dark-400: #1E293B;
  --color-dark-500: #0F172A;
  --color-dark-600: #333C5C;
  --color-dark-700: #464F6F;
  --color-dark-800: #1E2230;

  /* === Gray === */
  --color-gray-100: #CBD5E1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-bebas-neue: var(--font-bebas-neue)
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  p span {
    @apply text-primary-100;
  }
  tr {
    @apply border-b-light-300 border-b-1
  }
  td {
    @apply max-w-80 pr-5
  }
  button {
    @apply cursor-pointer
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .pattern {
    @apply bg-[url('/images/pattern.webp')] bg-cover bg-top bg-no-repeat;
  }
  .form-gradient {
    @apply bg-gradient-to-b from-[#12141D] to-[#12151F];
  }
}

@layer components {
  .form {
    @apply w-full;

    .label {
      @apply !text-light-100 !font-normal text-xl;
    }

    .input {
      @apply !bg-dark-300 !w-full border-none !rounded-sm !min-h-12 !px-5 placeholder:!text-[#D6E0FF66] placeholder:text-xs sm:placeholder:text-base focus:outline-none focus:border-none focus:ring-0;
    }
  }
  .progress {
    @apply h-1.5 text-[5px] font-bold rounded-full;
  }
  .input {
      @apply !bg-dark-200 !w-full border-none !rounded-sm !min-h-12 !px-5 placeholder:!text-[#D6E0FF66] placeholder:text-xs sm:placeholder:text-base focus:outline-none focus:border-transparent focus:ring-0;
  }
  
}

.dark-upload-btn {
  @apply bg-dark-300 min-h-12
}

.light-upload-btn {
  @apply bg-white min-h-12 text-slate-500
}

.book-form-btn {
  @apply w-full min-h-12 bg-primary-admin
}

.dark-gradient {
  @apply bg-gradient-to-b from-[#12141D] to-[#12151F];
}